{% extends 'base.html' %}
{% block content %}
{% load static %}
<div class="container mt-5">
    <div class="row">
        <div class="col-4 text-center">
            <img src="{% static 'images/nobody.jpg.png' %}" width="75%">
        </div>
        <div class="col-8">
            <!-- Title goes between these h2 tags -->
            <h2>{{ aboutus.title }}</h2>
            <!-- Content goes directly underneath this -->
            <p>{{ aboutus.content | safe }}</p>
        </div>
    </div>
    <div class="row">
        <div class="col text-right">
            <!-- Last updated goes between these p tags -->
            <p class="text-end"><em>Last Updated on: {{ aboutus.last_updated }}</em></p>
        </div>
      </div>
</div>
{% endblock content %}