/* Google Fonts Import */
@import url("https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Nanum+Myeongjo:wght@400;700&display=swap");

/* Asterisk wildcard selector to override default styles added by the browser */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

/* CSS Colour Palette Styles */

:root {
  --primary-background:#f1ebe7ff;
  --primary-button: #f9daa1ff;
  --primary-text: #007dc0ff;
  --secondary-button:#369fd7ff;
  --secondary-text-color:#ecc1b6ff;
  --highlight-color: #f7a072ff;
  --primary-font: "Funnel Display", sans-serif;
  --secondary-font: "Nanum Myeongjo", serif;
}

/* Header Styles */
header {
  padding: 20px 0;
  margin-bottom: 0;
}

/* Main content spacing */
main {
  margin-top: 0;
  padding-top: 0;
}

h1{
  font-family: var(--primary-font);
  font-size: 2.5em;
  color: var(--primary-text);
}

h2{
  font-family: var(--secondary-font), cursive;
  font-size: 2.5em;
  color: var(--secondary-text);
}

h3{
  font-family: var(--secondary-font), cursive;
  font-size: 2.5em;
  color: var(--primary-button);
}

h4 {
  font-family: var(--secondary-font), cursive;
  font-size: 2.5em;
  color: var(--secondary-button);
}

p {
  font-family: var(--secondary-font), sans-serif;
  font-size: 1.1em;
  color: var(--primary-text);
}

body{
  font-family: var(--secondary-font), sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-color: var(--primary-button);
  padding-top: 76px; /* Account for fixed navbar height */
}



/* Fixed navbar styles */
.navbar.fixed-top {
  z-index: 1030;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex; 
  justify-content: flex-end; 
}


/* Card Styles */
.card-body {
  border: none;
  border-radius: 0.5rem;
  overflow: hidden;
  transition: transform 0.3s;
  text-align: center;
  background-color: var(--primary-button);
}

.card-body:hover {
  transform: scale(1.05);
}

.btn-primary {
  background-color: var(--primary-button);
  
}


